section.contacts
  .container
    .row
      .col-md-6.col-sm-12
          form.contacts__form
            h2.contacts__form-title GIVE US A GOOD NEWS
            .form-group
              input#exampleInputName1.form-control(type='text', aria-describedby='name', placeholder='Name')
            .form-group
              input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp', placeholder='Email')
            .form-group
              input#exampleInputSubject.form-control(type='text', placeholder='Subject')
            .form-group
              textarea#exampleFormControlTextarea1.form-control(rows='3')  
            button.col-4.btn.btn-outline-tajam(type='submit') Submit
      .col-md-5.offset-md-1.col-sm-12
        .row
          h2.col-12.contacts__brand-title OUR HAPPY CLIENT
          ul.col-12.contacts__brand-list
            .row
              li.col-md-5.col-6.contacts__brand-item
                picture
                  source(type="image/webp" srcset="img/content/brand1@1x.webp 1x, img/content/brand1@2x.webp 2x")
                  img(src="img/content/brand1@1x.png" srcset="img/content/brand1@2x.png 2x", width="120"
                  height="80" alt="brand1")
              li.col-md-5.offset-md-2.col-6.contacts__brand-item
                picture
                  source(type="image/webp" srcset="img/content/brand2@1x.webp 1x, img/content/brand2@2x.webp 2x")
                  img(src="img/content/brand2@1x.png" srcset="img/content/brand2@2x.png 2x", width="120" 
                    height="80" alt="brand1")
              li.col-md-5.col-6.contacts__brand-item
                picture
                  source(type="image/webp" srcset="img/content/brand3@1x.webp 1x, img/content/brand3@2x.webp 2x")
                  img(src="img/content/brand3@1x.png" srcset="img/content/brand3@2x.png 2x", width="120"
                  height="80" alt="brand1")
              li.col-md-5.offset-md-2.col-6.contacts__brand-item
                picture
                  source(type="image/webp" srcset="img/content/brand4@1x.webp 1x, img/content/brand4@2x.webp 2x")
                  img(src="img/content/brand4@1x.png" srcset="img/content/brand4@2x.png 2x", width="120"
                  height="80" alt="brand1")
              li.col-md-5.col-6.contacts__brand-item
                picture
                  source(type="image/webp" srcset="img/content/brand5@1x.webp 1x, img/content/brand5@2x.webp 2x")
                  img(src="img/content/brand5@1x.png" srcset="img/content/brand5@2x.png 2x", width="120"
                  height="80" alt="brand1")
              li.col-md-5.offset-md-2.col-6.contacts__brand-item
                picture
                  source(type="image/webp" srcset="img/content/brand6@1x.webp 1x, img/content/brand6@2x.webp 2x")
                  img(src="img/content/brand6@1x.png" srcset="img/content/brand6@2x.png 2x", width="120"
                  height="80" alt="brand1")
              li.col-md-5.col-6.contacts__brand-item
                picture
                  source(type="image/webp" srcset="img/content/brand7@1x.webp 1x, img/content/brand7@2x.webp 2x")
                  img(src="img/content/brand7@1x.png" srcset="img/content/brand7@2x.png 2x", width="120"
                  height="80" alt="brand1")
              li.col-md-5.offset-md-2.col-6.contacts__brand-item
                picture
                  source(type="image/webp" srcset="img/content/brand8@1x.webp 1x, img/content/brand8@2x.webp 2x")
                  img(src="img/content/brand8@1x.png" srcset="img/content/brand8@2x.png 2x", width="120"
                  height="80" alt="brand1")
              li.col-md-5.col-6.contacts__brand-item
                picture
                  source(type="image/webp" srcset="img/content/brand9@1x.webp 1x, img/content/brand9@2x.webp 2x")
                  img(src="img/content/brand9@1x.png" srcset="img/content/brand9@2x.png 2x", width="120"
                  height="80" alt="brand1")
              li.col-md-5.offset-md-2.col-6.contacts__brand-item
                picture
                  source(type="image/webp" srcset="img/content/brand10@1x.webp 1x, img/content/brand10@2x.webp 2x")
                  img(src="img/content/brand10@1x.png" srcset="img/content/brand10@2x.png 2x", width="120"
                  height="80" alt="brand1")
